 {% extends "aulaweb/base.html" %}

{% block conteudo %}
    <h1>{{ title }}</h1>
    <p>
        Este projeto é um exemplo desenvolvido para fins didáticos na disciplina de Programação Web do CEUB.
        O objetivo é demonstrar conceitos básicos de desenvolvimento web utilizando o framework Django.
    </p>
    <h2>Funcionalidades</h2>
    <ul>
        <li>Estrutura de projeto Django</li>
        <li>Exemplo de templates</li>
        <li>Rotas e views básicas</li>
        <li>Integração com banco de dados</li>
    </ul>
    <h2>Autores</h2>
    <p>
        Equipe de Docência CEUB<br>
        Professor responsável: <b>{{ professor }}</b>
    </p>
    <h2>Contato</h2>
    <p>
        Para dúvidas ou sugestões, entre em contato pelo e-mail:

{% endblock %}

