{% extends "aulaweb/base.html" %}

{% block conteudo %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_form.css' %}" />
<link rel="stylesheet" href="{% static 'css/novo_pedido.css' %}" />

<h1>Novo Pedido</h1>
<form method="post" id="pedido-form">
  {% csrf_token %}
  {{ pedido_form.as_p }}
  <h3>Produtos</h3>
  {{ formset.management_form }}
  <div id="formset-area">
    {% for form in formset %}
      <div class="item-form">
        {{ form.as_p }}
      </div>
    {% endfor %}
  </div>
  <button type="button" id="add-item">+ Produtos</button>

  <button type="submit" class="btn-salvar">Salvar</button>
  <br/>
  <button type="button" class="btn-voltar" onclick="history.back()">Voltar</button>
</form>

<script src="{% static 'js/novo_pedido.js' %}"></script>
{% endblock %}