{% extends "aulaweb/base.html" %}

{% block conteudo %}
<div class="container">
  {% if produto.url %}
    <img src="{{ produto.url }}" alt="{{ produto.nome }}" class="produto-imagem">
  {% endif %}

  <div class="produto-nome">{{ produto.nome }}</div>
  <div class="produto-preco">R$ {{ produto.preco }}</div>
  <div class="produto-descricao">{{ produto.descricao }} - {{ produto.categoria }}</div>

  <a href="javascript:history.back()" class="btn-voltar">← Voltar</a>
</div>

<link rel="stylesheet" href="{% static 'css/detail_product.css' %}">
<script src="{% static 'js/detail_product.js' %}"></script>
{% endblock %}
