{% extends "aulaweb/base.html" %}

{% block conteudo %}
<div class="produtos-container">
  {% for produto in lista_produtos %}
    <div class="produto-card">
      <div class="produto-nome">
        <a href="{% url 'detalhar_produto' produto.pk %}">{{ produto.nome }}</a>
      </div>
      <div class="produto-preco">R$ {{ produto.preco }}</div>
    </div>
  {% empty %}
    <div class="sem-produtos">Nenhum produto encontrado</div>
  {% endfor %}
</div>

<link rel="stylesheet" href="{% static 'css/products.css' %}">
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}
