{% extends "aulaweb/base.html" %}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/cores.css' %}">

<main class="container" aria-labelledby="titulo-principal">
    <h2 id="titulo-principal">Classificação das cores</h2>

    <ul>
        <li>
            <h3>Cores Primárias</h3>
            <ol>
                <li>Vermelho</li>
                <li>Azul</li>
                <li>Amarelo</li>
            </ol>
        </li>

        <li>
            <h3>Cores Secundárias</h3>
            <ol>
                <li>Verde</li>
                <li>Laranja</li>
                <li>Roxo</li>
            </ol>
        </li>

        <li>
            <h3>Cores Terciárias</h3>
            <ol>
                <li>Laranja</li>
                <li>Oliva</li>
                <li>Turquesa</li>
                <li>Celeste</li>
                <li>Violeta</li>
                <li>Rosa</li>
            </ol>
        </li>
    </ul>
</main>

<script src="{% static 'js/cores.js' %}"></script>
{% endblock %}