{% extends 'usuarios/base2.html' %}
{% load static %}

{% block title %}Cadastre-se - Casa de Atena{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <div align="center">
        <h1>Painel do Coordenador</h1>
    </div>
</head>
<body>

    <h2>Gerenciamento de Eventos e Usuários</h2>

    <div>
        <!--EVENTOS-->
        <a href="eventos.html"><button>Cadastrar Eventos</button><br><br></a>
        <a href="eventosU.html"><button>Eventos</button><br><br></a>
        <a href="editar_evento.html"><button>Editar eventos</button><br><br></a>

        <!--USUÁRIOS-->
        <a href="inscricao_home.html"><button>Cadastrar Usuários</button><br><br></a>
        <a href="usuarios.html"><button>Usuários</button><br><br></a>
        <a href="editar_usuario.html"><button>Editar usuários</button><br><br></a>

        <!--CERTIFICADOS-->
        <a href="certificados.html"><button>Emitir Certificados</button><br><br></a>
    </div>

</body>
</html>

</html>

{% endblock %}
