{% extends "aulaweb/base.html" %}

{% block conteudo %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_form.css' %}" />

<a href="{% url 'create_order' %}" class="btn-add">+ Novo Pedido</a>

<div class="produtos-container">

  {% for pedido in pedidos %}
    <div class="produto-card">
      <div class="produto-nome">{{ pedido }}</div>
      <div class="produto-preco">R$ {{ pedido.data_pedido }}</div>
      <ul>
        {% for item in pedido.itempedido_set.all %}
          <li>{{ item.quantidade }}x {{ item.produto.nome }}</li>
        {% endfor %}
      </ul>
      <div style="margin-top:10px;">
        <a href="{% url 'delete_order' pedido.pk %}">🗑️ Remover</a>
      </div>
    </div>
  {% empty %}
    <div class="sem-produtos">Nenhum pedido encontrado</div>
  {% endfor %}
</div>


{% endblock %}